<a href="https://colab.research.google.com/github/kdrm12/AI-Bootcamp-Notebook/blob/main/009_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# A single data type that can hold lots of information: Dictionary

Using a list we might be able to store the information about a person like this:

```python
person = [
    "John",
    "Doe",
    46,
    "Programmer",
]
```

Of course it's doable, but it's not that easy to understand what's going on here. We have to remember that the first element is the first name, the second is the last name, the third is the age and the fourth is the job. It's not that easy to remember, and it's not that easy to read either.

## Dictionary comes for the rescue!

A dictionary is a data type that can hold lots of information but it's much readable than a list because it uses keys and values where we can name the key with a readable name. Let's take a look how can we convert above list to a dictionary:

In [1]:
person = {
    "first_name": "John",
    "last_name": "Doe",
    "age": 46,
    "profession": "Programmer",
}

print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 46, 'profession': 'Programmer'}

Now it's much readable and we can easily understand what's going on here. We know that this data holds an information about a person with the first name of John, last name of Doe, age of 46 and job of Programmer.

We can also access any value in the dictionary by using the key:

In [2]:
person["profession"]

'Programmer'

Just like the list, we can mutate any information in the dictionary:

In [3]:
print(person)
person['age'] = 20
person["married"] = True
person["city"] = "Jakarta"
print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 46, 'profession': 'Programmer'}
{'first_name': 'John', 'last_name': 'Doe', 'age': 20, 'profession': 'Programmer', 'married': True, 'city': 'Jakarta'}

# Challenge!

## Challenge 1
Access the price of bananas from the prices dictionary and print it.

In [13]:
prices = {'apple': 1.2, 'banana': 0.5, 'orange': 0.8}

# Change below code
print(prices["banana"])

0.5

When you are done with the above challenge, then:

1. Change the text "my result" below with the text "done"
2. Run the code block by pressing the play button.

In [ ]:
!pip install rggrader

from rggrader import submit

# @title #### Student Identity
student_id = "your student id" # @param {type:"string"}
name = "your name" # @param {type:"string"}

# Submit Method
assignment_id = "009_dictionary"
question_id = "01_dictionary_access"

result = "my result"

submit(student_id, name, assignment_id, result, question_id)

Collecting rggrader
  Downloading rggrader-0.1.6-py3-none-any.whl (2.5 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from rggrader) (2.31.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from rggrader) (1.5.3)
Requirement already satisfied: Pillow in /usr/local/lib/python3.10/dist-packages (from rggrader) (9.4.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->rggrader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->rggrader) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->rggrader) (1.23.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->rggrader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->rggrader) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->rggrader) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->rggrader) (2023.11.17)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->rggrader) (1.16.0)
Installing collected packages: rggrader
Successfully installed rggrader-0.1.6

'Assignment successfully submitted'

## Challenge 2

Change the score of 'Alice' in student_scores to 90.

In [14]:
student_scores = {'Alice': 85, 'Bob': 90}

# Add your code below!
student_scores['Alice'] = 90

print(student_scores) # Expected output: {'Alice': 90, 'Bob': 90}

{'Alice': 90, 'Bob': 90}

When you are done with the above challenge, then:
1. Run the code block by pressing the play button.

In [ ]:
# Submit Method
assignment_id = "009_dictionary"
question_id = "02_dictionary_update"

submit(student_id, name, assignment_id, str(student_scores['Alice']), question_id)

## Challenge 3

Add a new key-value pair to the pets dictionary. The key should be 'bird' and its value 'tweet'.

In [6]:
pets = {'dog': 'bark', 'cat': 'meow'}

# Add your code below!

print(pets) # Expected output: {'dog': 'bark', 'cat': 'meow', 'bird': 'tweet'}

{'dog': 'bark', 'cat': 'meow'}

When you are done with the above challenge, then:
1. Run the code block by pressing the play button.

In [ ]:
# Submit Method
assignment_id = "009_dictionary"
question_id = "03_dictionary_add"

submit(student_id, name, assignment_id, str(pets['bird']), question_id)

## Iterating Over Dictionary Values
In Python, dictionaries are incredibly versatile data structures that allow us to store data in key-value pairs. Often, you might find yourself needing to work with just the values in a dictionary. This is where iterating over dictionary values becomes handy.

For example, let's say we have a dictionary of countries and their respective capitals:

In [7]:
countries = {'USA': 'Washington', 'UK': 'London', 'Japan': 'Tokyo'}

To access and work with just the capitals, we use a simple for loop combined with the .values() method:

In [8]:
for capital in countries.values():
    print(capital)

Washington
London
Tokyo

This loop will print each capital city in our dictionary. It's a straightforward and efficient way to access all the values without needing to worry about the keys.

# Iterating Over Dictionary Items
Sometimes, you need both the key and the value in a dictionary. In such cases, iterating over items is the approach to take. Continuing with our countries example, if we want to print both the country and its capital, we can use the .items() method.

Here's how it's done:

In [9]:
countries = {'USA': 'Washington', 'UK': 'London', 'Japan': 'Tokyo'}

for country, capital in countries.items():
  #print("The capital of " + country + " is " + capital)
  print(f"The capital of {country} is {capital}")

The capital of USA is Washington
The capital of UK is London
The capital of Japan is Tokyo

This loop goes through each key-value pair in the dictionary, giving us access to both the country (key) and its capital (value). The .items() method is particularly useful when you need to perform operations that involve both keys and values.

# Challenge

## Challenge 1

Iterate over the indonesian_cuisine dictionary and print each local dish.

In [12]:
indonesian_cuisine = {'Sumatra': 'Rendang', 'Java': 'Rawon', 'Yogyakarta': 'Gudeg'}

# Add your code below!
for cuisine in indonesian_cuisine.values():
  print(cuisine)


# Expected output:
# Rendang
# Rawon
# Gudeg

Rendang
Rawon
Gudeg

When you are done with the above challenge, then:

1. Change the text "my result" below with the text "done"
2. Run the code block by pressing the play button.

In [ ]:
# Submit Method
assignment_id = "009_dictionary"
question_id = "04_dictionary_loop"

result = "my result"

submit(student_id, name, assignment_id, result, question_id)

## Challenge 2

Iterate over the book_titles dictionary and print each author with their book title.

In [22]:
book_titles = {'Orwell': '1984', 'Huxley': 'Brave New World'}

# Add your code below!
for author, book_title in book_titles.items():
  print(f"{author} wrote {book_title}")


# Expected output:
# Orwell wrote 1984
# Huxley wrote Brave New World

Orwell wrote 1984
Huxley wrote Brave New World

When you are done with the above challenge, then:

1. Change the text "my result" below with the text "done"
2. Run the code block by pressing the play button.

In [ ]:
# Submit Method
assignment_id = "009_dictionary"
question_id = "05_dictionary_concat"

result = "my result"

submit(student_id, name, assignment_id, result, question_id)

In [23]:
makanan = "rawon"
harga = 15000.000

print(f"Saya makan {makanan} seharga {harga}")
# Saya makan rawon seharga 15000

#print(harga)
#print(str(harga))
print(makanan + " = " + str(harga))


angka = "5.0"
#print(angka)
#print(int(angka))

angka = float(angka)

angka = angka * 2
angka

Saya makan rawon seharga 15000.0
rawon = 15000.0

10.0